

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  


  
  *{
			margin:0;
			padding:0;
			box-sizing: border-box;
			font-family: 'Roboto', 'sans-serif';
            text-decoration: none;
          
  }

        /* ========================================*/ 
        /* BASIS KLASSEN FÜR FARBEN UND TITEL*/
        /* ========================================*/



        h1 {
            color: black;
            font-family: 'Roboto', 'sans-serif';
            font-size: 3rem;
            line-height: 70px;
            text-align: center;
            padding-top: 20px;
        }

        h2{
            color: black;
            font-family: 'Roboto', 'sans-serif';
            font-size: 1.5rem;
            line-height: 70px;
            text-align: center;
        }     

        h3{
            color:var(--schriftgrau);
            font-size: 1.1rem;
            font-family: 'Roboto', 'sans-serif';
            line-height: 2.2rem; 
            text-align: center;
        }

        p{
            font-family: 'Roboto', 'sans-serif';
            font-size: 1.1rem;
            color: var(--schriftgrau);
            line-height: 2.2rem; 
            text-align: center;  
        }
        
        a {
            font-family: 'Roboto', 'sans-serif';
            font-size: 1.1rem;
            color: var(--schriftgrau);
            line-height: 2.2rem; 
           
        }



        /* ========================================*/
        /* NAVIGATION */
        /* ========================================*/

        

     
	
		/* ========================================*/
        /* Startseite  */
        /* ========================================*/
        /* Bordered form */

        
        img {
            max-width: 600px;
            margin-left: 460px ;
        }

        path {
            &.show {
                fill: var(--green);
            }
          }

        .main-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            padding: 20px;
          }

        .gruenes_grid {
            display: flex;
            flex-direction: column;
            background-color:lightgreen;
            justify-content: start;
            background-size:contain;
            background-position: center right;
            background-repeat: no-repeat;
            max-width: 550px;
            height: 200px;
            margin-left: 150px;
            border-radius: 10px;
            border: 1px solid black;
            
        }

        .red_grid {
            display: flex;
            flex-direction: column;
            background-color: lightcoral;
            justify-content: start;
            background-size:contain;
            background-position: center right;
            background-repeat: no-repeat;
            max-width: 550px;
            height: 200px;
            margin-right: 150px;
            border-radius: 10px;
            border: 1px solid black;
        }

       .slider-container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
        .button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            
        }

         /* ========================================*/
        /* FOOTER */
        /* ========================================*/
		
        footer {
            background-color: whitesmoke;
            display: flex;
            height: 100%;
            line-height: 1.1rem;
			padding: 15px 10px 15px 10px;
			position:relative;
			width: 100%;
        }
        



